DirectoryIndex public/index.php
Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteRule ^$ public/index.php [L]
    RewriteRule ^assets/(.*)$ public/assets/$1 [L]
    RewriteRule ^index\.php$ public/index.php [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ public/index.php [L]
</IfModule>
